.logo-ver1 {
  width: 435px;
  height: 200px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-ver1 img {
  width: 150px;
  height: 150px;
}

.logo-ver2 {
  width: 435px;
  height: 100px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-ver2 img {
  height: 80px;
}