.logo {
  font-family: 'Annie Use Your Telescope', cursive;
  
  width: 400px;
  height: 400px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo .logo-inner {
  height: 150px;
  width: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo .logo-inner h1 {
  font-size: 40px;
  color: #2541B2;
  font-weight: 900;
  letter-spacing: 3px; 
  text-shadow: -1.5px 0px black, 0px 1.5px black, 1.5px 0px black, 0px -1.5px black;
  line-height: 0px;
}
.logo .logo-inner img.big {
  width: 150px;
  height: 150px;
}