.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  box-shadow: 7px 7px 0px #06BEE1;
}
.max-page {
  width: 1070px;
}
.page .page-inner .page-inner-title {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.page .page-inner .page-inner-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: left;

  padding: 25px 0px 0px 25px;
}