.border-sheet-one {
  border: 3px solid #00171F;
  box-shadow: 7px 7px 0px #2541B2;
  border-radius: 0px;
}
.border-sheet-two {
  border: 3px solid #00171F;
  box-shadow: 7px 7px 0px #06BEE1;
  /* box-shadow: 7px 7px 0px #d2f7ff */
  border-radius: 0px;
}
.border-sheet-three {
  border: 3px solid #00171F;
  box-shadow: 7px 7px 0px #6200EE;
  border-radius: 0px;
}
.border-sheet-four {
  border: 1.5px solid #00171F;
}