.border-sheet-one {
  border: 3px solid #00171F;
  box-shadow: 8px 8px 0px #2541B2;
  border-radius: 0px;
}
.border-sheet-two {
  border: 3px solid #00171F;
  box-shadow: 8px 8px 0px #06BEE1;
  border-radius: 0px;
}
.border-sheet-three {
  border: 3px solid #00171F;
  box-shadow: 8px 8px 0px #6200EE;
  border-radius: 0px;
}